<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>
                <p style="text-align: center;"><strong> Room's name</strong></p>
            </th>

    
        </thead>


            <tr>


                <td>
                    {% for room in rooms %}
                    
                    <center> <table><tr><td> 
                        <a href="{% url 'message:room_detail' room.id %}">{{room.chatRoomName}}</a>  

                    
                    </td>
                </tr></center>
                        {% endfor %}

                    </table>
                </td>

             </tr>
        
    

    </table>

    <a  href="room_create/" >Создать комнату</a>  


</body>
</html>