<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if messages %}
    <table>
        <thead>
            <th>
                <p style="text-align: center;"><strong> User</strong></p>
            </th>
            <th>
                <p style="text-align: center;"><strong> Message</strong></p>
            </th>

            

        </thead>
        {% for msg in messages %}
        <tr>

            <td>
                {{msg.author}}
            </td>
            <td>
                {{msg.text }}
            </td>
            <td>
                <a  href="{% url 'message:post_delete' msg.id %}">Удалить</a>

            </td>

        </tr>
        {% endfor %}

    </table>

    {%else%}
    <h3>В данной теме сообщений нет</h3>

    {% endif %}


    <a  href="{% url 'message:post_create' roomid %}">Добавить сообщение</a>  

    <h2>Список пользователей в данном чате</h2>
    {% for user in usersInRoom %}
    <a href="{% url 'message:userinfo' user.id %}">{{user}}</a>  
 
    

    {% endfor %}

    <h2>Список зарегистрированных пользователей</h2>
    <table>
        {% for user in usersList %}
        <tr>
            <td>

                <a href="{% url 'message:userinfo' user.id %}">{{user}}</a> 

            </td>

            
            <td>

                <a href="{% url 'message:add_user' user.id %}">Добавить в данный чат</a>  

            </td>
        </tr>
        {% endfor %}
    </table>




</body>
</html>